.container {
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.capa {
    background-color: #000000;
    width: 250px;
    height: 400px; 
    object-fit: cover; 
    opacity: 1;
    
}  



.favoritar {
    padding: 0 1em;
    width: 25px;
}

.titulo {
    font-size: 10px;
    margin: 0.5em 0;
    justify-content: flex-start;
}

.infos {
    display: flex;
    flex-direction: column;
    padding: 5px;   
}

.infos h2 {
    margin: 10px 0;
    font-size: 30px;
    justify-content: flex-s
    
}

.infos h4{
color: rgb(7, 199, 0);
font-size: 25px;

}


