.playerVideo {
    justify-content: center;
    display: flex;
    ;}

.playerVideo h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.player {
justify-content: center;    
display: flex;
}

.video{
padding: 100px;
width: 5000px;
height: 900px;

}

