

.catalogo
{
    
    flex: 0 0 5em;
    padding: 50px;

    

}   

.grupo
{
    display: flex;
        gap: 16px;
        overflow-x: auto;

}

    ::-webkit-scrollbar{
            
    }

.outrogrupo
{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 24px;
    
}

.series
{
    color: rgb(255, 255, 255);
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-left: 24px;
    margin-bottom: -16px;
}



    

